output.cardBattlePass#battlePass
    .card-inner-battlePass
        header.d-flex.align-items-center.justify-content-center
            h2.titulo_card_friends Pase de Batalla

        // Barra de experiencia
        .barra-exp-container.my-3.px-3
            p.mb-1.text-center.texto_exp Experiencia: #{experiencia} / #{experienciaMax}
            .progress(style="height: 20px;")
                .progress-bar.bg-success(
                    role="progressbar",
                    style=`width: ${(experiencia / experienciaMax) * 100}%`,
                    aria-valuenow=experiencia,
                    aria-valuemin="0",
                    aria-valuemax=experienciaMax
                ) #{Math.floor((experiencia / experienciaMax) * 100)}%

        // Lista de recompensas
        ul.lista_friends
            each recompensa, index in recompensas
                li.texto_friends.d-flex.align-items-center.justify-content-between
                    .d-flex.align-items-center.gap-3
                        img(src=recompensa.imagen, alt="Recompensa " + (index + 1), width="50", height="50").img_exp
                        p.mb-0 Recompensa #{recompensa.nombre + " x"+recompensa.cantidad}
                    button.btn.btn-custom.boton_reclamar#boton_reclamar(onclick=`reclamarRecompensa(${index})`, disabled=!(recompensa.disponible && !recompensa.reclamada))
                        = recompensa.reclamada ? '✅ Reclamado' : '🎁 Reclamar'
